[submodule "third_party/kendryte-standalone-sdk"]
	path = third_party/kendryte-standalone-sdk
	url = https://github.com/shuichitakano/kendryte-standalone-sdk.git
	
[submodule "third_party/picojson"]
	path = third_party/picojson
	url = https://github.com/kazuho/picojson.git
